<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UFT-8">
    <title>現場掲示</title>
    <link rel="stylesheet" href="static/keiji.css">
</head>
<div class="area" >
    <br>
    <h1>作業主任者/特別教育受講者</h1>
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            <br>
<div style="text-align: center;">
      <div class="btn-wrapper">
        <a class="btn-1" href="/syuninsya">作業主任者</a>
    </div>
    <br>
     <div class="btn-wrapper">
        <a class="btn-1" href="/tokubetsu">特別教育</a>
    </div>
</div>
<br>
<div style="text-align: center;color:white;">
<p>ボタンをタッチしてください</p>
</div>    
</html>