<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UFT-8">
    <title>作業主任者</title>
    <link rel="stylesheet" href="static/syuninsya.css">
</head>
<div class="area" >
    <br>
    <h1>作業主任者一覧</h1>
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            <br>
            {% for syuninsya in syuninsya %}
            <div style="text-align: center;">
      <div class="btn-wrapper">
        <a class="btn-1" href="/">{{syuninsya}}</a>
    </div>
    {% endfor %}
<div style="text-align: center;color:white;">
    <br>
<p>ボタンをタッチしてください</p>
</div>    
</html>